@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: black;
  color: #ffffff;
}

header {
  background-color: black;
}

main {
  background-color: #ffffff;
  color: #000;
  padding: 50px 0;
}